@import "../../app/styles/variables.scss";
@import "../../app/styles/mixins.scss";

.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    gap: $size-lg;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    @include text-links-nav;
    display: block; // Дозволяє застосовувати правильні відступи
    padding: $size-md $size-lg; // Додає клікабельну область навколо тексту (16px зверху/знизу, 24px по боках)

    text-transform: uppercase;

    color: $primary-black;
    text-decoration: none;
    transition: color 0.2s ease;

    // Вмикаємо підкреслення, але робимо його невидимим
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: $size-xs; // Відсуваємо лінію трохи вниз, щоб виглядало охайно

    //Додаємо в транзішн анімацію для кольору лінії
    transition:
      color 0.2s ease,
      text-decoration-color 0.2s ease;

    &:hover {
      color: $primary-accent;
      text-decoration-color: $primary-accent; //Плавно проявляємо лінію підкреслення
    }
  }
}
